body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('images/tickets.png');  /* Add this line */
    background-size: cover;  /* Ensures the image covers the entire screen */
    background-position: center;  /* Centers the image */
    background-repeat: repeat;  /* Prevents repeating the image */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #ccc;
    pointer-events: none;
}

button:enabled {
    pointer-events: auto;
    background-color: green;
}

button:disabled {
    pointer-events: none;
    background-color: #ccc;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #c62828;
}

input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#players {
    margin-top: 20px;
}

.hidden {
    display: none;
}

/* Overlay and Notification */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.8); /* Dark background */
    display: none; /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#notification {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 20px;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

